<h1>Listing discussion_forums</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @discussion_forums.each do |discussion_forum| %>
      <tr>
        <td><%= link_to 'Show', discussion_forum %></td>
        <td><%= link_to 'Edit', edit_discussion_forum_path(discussion_forum) %></td>
        <td><%= link_to 'Destroy', discussion_forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discussion forum', new_discussion_forum_path %>
