<p>
  <ol class="breadcrumb">
    <li><%= link_to @club.name, @club %></li>
    <% if @discussion_forum.belongs == "event" %>
      <% event = Event.find_by(discussion_forum_id: @discussion_forum.id) %>
      <li><%= link_to 'Events', events_path(:club_id => @club.id) %></li>
      <li><%= link_to event.title, event %></li>
    <% end %>
    <li class="active">Discussion Forum</li>
  </ol>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Topics</h1></div>
  <div class="panel-footer"><%= link_to '+ New Topic', new_topic_path(:discussion_forum_id => @discussion_forum.id) %></div >
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        	<% if topic.discussion_forum_id == @discussion_forum.id %>
  	      <tr>
  	        <td><%= link_to topic.title, topic_path(:id => topic.id, :club_id => @club.id) %></td>
            <td><%= topic.updated_at.strftime("%b %-d, %Y") %></td>
  	        <td>By <%= link_to User.find_by(id: topic.created_by).full_name, show_user_url(:user_id => topic.created_by) %><br>
  	        <%= topic.views %> Views
            <% if Subscription.find_by(user_id: current_user.id, topic_id: topic.id) %>
              <br><%= link_to({controller: "topics", action: 'unsubscribe', :topic_id => topic.id, method: :get}) do %>Following<% end %>
            <% else %>
              <br><%= link_to({controller: "topics", action: 'subscribe', :topic_id => topic.id, method: :get}) do %>Follow<% end %>
            <% end %>
            <% if @club.is_current_admin(current_user.id) %>
                  <br> <%= link_to 'Edit', edit_topic_path(topic), class: "btn btn-default btn-xs" %> |
                    <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
            <% end %>
            </td>          
  	      </tr>
      	<% end %>
      <% end %>
    </tbody>
  </table>
  
</div>


