<%= form_for(@office_holder_position) do |f| %>
  <% if @office_holder_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office_holder_position.errors.count, "error") %> prohibited this office_holder_position from being saved:</h2>

      <ul>
      <% @office_holder_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, class: 'form-control', placeholder: "Enter position name" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', placeholder: "Enter position description" %>
  </div>
  <div class="form-group">
    <% collection = User.joins(:memberships).where(:memberships => {:club_id => @office_holder_position.club_id}) %>
    <%= f.collection_select :user_id, collection.order(:first_name), :id, :full_name, {:include_blank => 'Choose member...'}, {:class => 'form-control'} %>
  </div>

  <%= f.hidden_field :club_id %>

  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-default'%>
  </div>
<% end %>
