<% cid = params[:club_id].to_i %>

<!-- Link path -->
<p>
  <ol class="breadcrumb">
    <li><%= link_to Club.find_by(id: cid).name, Club.find_by(id: cid) %></li>
    <li class="active"> Committee</li>
  </ol>
</p>

<h1>Committee</h1>

<% if Club.find_by(id: cid).president_id == current_user.id %>
  <div class="panel-footer"><%= link_to '+ New Position', new_office_holder_position_path(:club_id => cid) %></div>
<% end %>

<table>
    <% @office_holder_positions.each do |office_holder_position| %>
      <% if office_holder_position.club_id ==  cid %>
        <tr>
          <td><strong><%= office_holder_position.position %>: </strong>
            <%= link_to User.find_by(id: office_holder_position.user_id).full_name, show_user_url(:user_id => office_holder_position.user_id) %></td>
          <% if Club.find_by(id: cid).president_id == current_user.id %>
            <td>
              <%= link_to 'Edit', edit_office_holder_position_path(office_holder_position) %>
              <%= link_to 'Remove', office_holder_position, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td>Since <%= office_holder_position.created_at.strftime("%b %-d, %Y at %l:%M%P") %></td>
        </tr>
        <tr>
          <td><%= office_holder_position.description %></td>
        </tr>
      <% end %>
    <% end %>
</table>

<br>

