<h1>New Office Holder Position</h1>

<p id="alert"><%= alert %></p>

<% @office_holder_position.club_id = params[:club_id] %>

<%= render 'form' %>

<%= link_to 'Back', office_holder_positions_path(:club_id => params[:club_id]), class: 'btn btn-default' %>
