<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @office_holder_position.position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @office_holder_position.description %>
</p>

<%= link_to 'Edit', edit_office_holder_position_path(@office_holder_position) %> |
<%= link_to 'Back', office_holder_positions_path %>
