<br>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Notifications</h1></div>
  <table class="table">
    <thead>
      <tr>
        <th>Message</th>
        <th>Source</th>
        <th>Mark as</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% NotificationObject.where(user_id: current_user.id).each do |nobj| %>
        <% if nobj.read_status == 1 and params[:show] != "all" %>
          <% next %>
        <% end %>
        <% notification = Notification.find(nobj.notification_id) %>
        <tr>
          <td><%= link_to notification.message, notification.link %></td>
          <% source = User.find(notification.source_id) %>
          <td><%= source.first_name %> <%= source.last_name %></td>
          <td>
          <% if nobj.read_status == 0 %>
            <%= link_to({controller: "notification_objects", action: 'read', :id => nobj.id}) do %>Read<%end%>
          <% else %>
            <%= link_to({controller: "notification_objects", action: 'unread', :id => nobj.id}) do %>Unread<%end%>
          <% end %>
          <td><%= notification.created_at.strftime("%b %-d, %Y at %l:%M%P") %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
    <%= link_to "Show All", :controller=>"notifications", :show => "all"%> |
    <%= link_to "Hide Read", :controller=>"notifications"%>
  </div>
</div>

<br>
