<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Source:</strong>
  <%= @notification.source_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @notification.link %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
