<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter email" %></div>

  <div class="form-group"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter password"%></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn btn-default" %></div>
<% end %>

<a href="/users/sign_up" class="btn btn-default">Sign up</a>
<br><br>
<%= link_to "Forgot your password?", "/users/password/new" %>
