<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group"><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, class: "form-control" %></div>  

  <div class="form-group"><%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true, class: "form-control" %></div>

  <div><%= f.label :gender %><br />
    <%= f.radio_button :gender, 'Male' %>
    <%=  f.label :gender, 'Male', :value => 'male' %>
    <%= f.radio_button :gender, 'Female' %>
    <%=  f.label :gender, 'Female', :value => 'female' %></div>  

  <div><%= f.label :Date_of_birth %><br />
  <%= f.date_field :date_of_birth, autofocus: true %></div>

  <div class="form-group"><%= f.label :student_number %><br />
  <%= f.text_field :student_number, autofocus: true, class: "form-control" %></div>

  <div class="form-group"><%= f.label :Phone %><br />
  <%= f.text_field :phone_number, autofocus: true, class: "form-control" %></div>  

  <div class="form-group"><%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "(leave blank if you don't want to change it)" %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

  <div class="form-group"><%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "(we need your current password to confirm your changes)" %></div>

  <b>Photo</b>
  <div><% if current_user.photo.url.present? %>
    <%= image_tag(current_user.photo.url,  size: "100x100")%>
    <br>
    <%= f.label :remove_photo do %>
      <%= f.check_box :remove_photo %> Remove photo?
    <% end %>
  <% end %>
  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache %>
  </div>
  <br>

  <div><%= f.submit "Update", class: "btn btn-default" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>

<%= link_to "Back", :back, class: "btn btn-default" %>
