<h2>Sign up</h2>

<h3>Please fill in the details (* required)</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :first_name, class: 'required' %><br />
  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "Enter first name" %></div>  

  <div class="form-group"><%= f.label :last_name, class: 'required' %><br />
  <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Enter last name" %></div>

  <div><%= f.label :gender, class: 'required' %><br />
    <%= f.radio_button :gender, 'Male', :checked => true %>
    <%=  f.label :gender, 'Male', :value => 'male' %>
    <%= f.radio_button :gender, 'Female' %>
    <%=  f.label :gender, 'Female', :value => 'female' %></div>  

  <div><%= f.label :Date_of_birth, class: 'required' %><br />
  <%= f.date_field :date_of_birth, autofocus: true %></div>

  <div class="form-group"><%= f.label :student_number, class: 'required' %><br />
  <%= f.text_field :student_number, autofocus: true, class: "form-control", placholder: "Enter student number" %></div>

  <div class="form-group"><%= f.label :password, class: 'required' %><br />
  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter password (min. 8 characters)" %></div>

  <div class="form-group"><%= f.label :password_confirmation, class: 'required' %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Enter the same password" %></div>
  
  <div class="form-group"><%= f.label :University_email, class: 'required' %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter university email address" %></div>

  <div class="form-group"><%= f.label :Phone, class: 'required' %><br />
  <%= f.text_field :phone_number, autofocus: true, class: "form-control", placeholder: "Enter phone number" %></div> 

  <strong>Optional Photo</strong>
  <div><%= f.label :photo do %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  <% end %>
  </div>
  <br>

  <div><%= f.submit "Sign up", class: "btn btn-default" %></div>
<% end %>

<a href="/users/sign_in" class="btn btn-default">Sign In</a>
