<% cid = params[:club_id] %>

<p>
	<ol class="breadcrumb">
	  <li><%= link_to @club.name, @club %></li>
	  <% if @df.belongs == "event" %>
	    <li><%= link_to 'Events', events_path(:club_id => @club.id) %></li>
	    <li><%= link_to @event.title, @event %></li>
	  <% end %>
	  <% if @df.belongs == "network" %>
	  	<li><%= link_to 'Administration', club_admin_url(:id => @club.id) %></li>
	  	<li><%= link_to 'Networks', club_admin_url(:id => @club.id, :tab => "network") %></li>
	  	<li><%= link_to @network.name, network_url(:id => @network.id, :club_id => cid) %></li>
	  	<li><%= link_to 'Discussion Forum', network_path(:id => @network.id, :tab => "discussion", :club_id => cid) %></li>
	  <% else %>
	  	<li><%= link_to 'Discussion Forum', discussion_forum_path(:id => @df.id, :club_id => @club.id) %></li>
	  <% end %>
	  <li class="active"><%= @topic.title %></li>
	</ol>
</p>


<h1><%= @topic.title %></h1>
<p>
	<strong>Created by:</strong> 
	<%= link_to User.find_by(id: @topic.created_by).full_name, show_user_url(:user_id => @topic.created_by) %>
	on <%= @topic.created_at.strftime("%b %-d, %Y") %>
</p>
<p>
	<%= link_to 'New Post', new_post_path(:topic_id => @topic.id, :club_id => @club.id), class: "btn btn-default" %> 
	<% if Subscription.find_by(user_id: current_user.id, topic_id: @topic.id) %>
		<%= link_to({controller: "topics", action: 'unsubscribe', :topic_id => @topic.id, method: :get}, {class: "btn btn-default"}) do %>Following<% end %>
	<% else %>
		<%= link_to({controller: "topics", action: 'subscribe', :topic_id => @topic.id, method: :get}, {class: "btn btn-default"}) do %>Follow<% end %>
	<% end %>
	 <% if @show_options %>
            <%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-default" %>
            <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    <% end %>          
</p>

<div class="panel panel-default">
	<table class="table">
	  <tbody>
	    <% @posts.each do |post| %>
	    	<% if post.topic_id == @topic.id %>
		      <tr>
		      	<td>
		      		<strong><%= link_to User.find_by(id: post.user_id).full_name, show_user_url(:user_id => post.user_id) %></strong> 
		      		Posted on <%= post.created_at.strftime("%b %-d, %Y at %l:%M%P") %>
		        </td>
		        <% if @show_options %>
		        	<td><%= link_to 'X', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
		        <% end %>
		      </tr>
		      <tr>
		      	<td><%= post.content %></td>
		      </tr>
		    <% end %>
	    <% end %>
	  </tbody>
	</table>
</div>

<br>


