Welcome to Club-Biz, <%= @user.full_name %>
====================================================

You have successfully registered at Club-Biz.

To login to the site, just follow this link: <%= @url %> and
use your email to login.

Thanks for registering and have a great day!