<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to Club-Biz, <%= @user.full_name %></h1>
		<p>
			You have successfully signed up to Club-Biz. <br>
		</p>
		<p>
			To login to the web-app, just follow this link: <%= @url %> 
			and user your email to login. 
		</p>
		<p>
			Thanks for registering and have a great day!
		</p>
	</body>
</html>
