<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="media">
      <a class="pull-left" href="#">
        <% if current_user.photo? %>
          <%= image_tag(current_user.photo.url,  size: "75x75", align: "left") %>
        <% else %>
          <img data-src="holder.js/75%x75" alt="User Photo" width=75 height=75>
        <% end %>
      </a>
      <div class="media-body">
        <h1><%= @user.full_name %></h1>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Date of Birth:</th>
      <td> <%= @user.date_of_birth.strftime("%b %-d, %Y") %></td>
   </tr>
    <tr>
      <th>Gender:</th>
      <td><%= @user.gender %></td>
    </tr>

    <% if @user.id == current_user.id || @show == 1 %>
      <tr>
        <th>Student Number:</th>
        <td><%= @user.student_number %></td>
      </tr>
      <tr>
        <th>University Email:</th>
        <td><%= @user.email%></td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td><%= @user.phone_number %></td>
      </tr>
    <% end %>
    <tr>
      <th>Date joined:</th>
      <td><%= @user.created_at.strftime("%b %-d, %Y") %></td>
    </tr>
  </table>
  <div class="panel-footer">    
    <% if @user.id == current_user.id %>     
      <p><%= link_to "Edit Details", edit_user_registration_path %></p>
    <% end %>
  </div>
</div>

<br>
