// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.banner {
	width: 100%;
	height: 150px;
}

.club-title {
	display: inline;
}

.club-header {
	text-align: center;
}

.website {
	text-align: center;
	font-size: 75%;
}

.description {
	text-align: center;
}

.club-menu-image {
	width: 90%;
	height: 200px;
}

.club-menu {
	text-align: center;
}