// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.banner {
	width: 100%;
	height: 150px;
}

.event-title {
	text-align: center;
}

.event-slideshow {
	width: 100%;
	height: 500px;
}

.share-button {
	text-align: right;
}

.carousel-inner {
	width: 100%;
	height: 500px;
}

.item {
	width: 100%;
	height: 100%;

	.slideshow {
		width: 100% !important;
		height: 100% !important;
	}
}