// Place all the styles related to the webapps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.required:after {
	content: " *";
	color: red;
}

.carousel-inner {
	width: 100%;
	height: 500px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.4);
	right:0 !important;
	left:0 !important;

	h1 {
		color: white;
	}

	p {
		color: white;
	}
}

.logo {
	width: 256px;
	height: 96px;
}

.item {
	height: 100%;
	width: 100%;

	.slideshow {
		height: 100% !important;
		width: 100% !important;
	}
}

table.announcement td {
	padding: 5px
}

table.announcement-form th {
	text-align: right;
	padding-right: 10px
}

table.ticket-index td {
	padding: 3px
}

table.ticket-index th {
	padding: 3px
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right:5px solid #ccc;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-left: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: 100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#search {
	width: 300px;
}

hr.footer {
	height: 2px;
	border-width: 0;
	background-color: gray;
}

#footer {
	margin-right: 100px;
	margin-bottom: 25px;
	text-align: right;
}

.about-us-table {
	width: 100%;
	text-align: center;
}

.about-us-image {
	width: 75%;
	height: 300px;
}
