<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:  'form-control', placeholder: "Enter title" %>
  </div>
  <div class="form-group">
    <%= f.label :date_and_time %><br>
    <%= f.datetime_select :event_datetime, order: [:day,:month,:year], use_short_month: true, class: '  form-control' %><br>
    <%= f.label :to %><br>
    <%= f.datetime_select :end_datetime, order: [:day,:month,:year], use_short_month: true %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class:  'form-control', placeholder: "Enter location" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:  'form-control', placeholder: "Enter event description" %>
  </div>
  <div class="form-group">
    <%= f.label :ticket_price %><br>
    <%= f.text_field :ticket_price, class:  'form-control', placeholder: "Enter ticket price" %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_tickets %><br>
    <%= f.number_field :tickets_total, class:  'form-control', placeholder: "Enter number of tickets" %>
  </div>
  <div class="form-group">
    <%= f.label :purchase_location %><br>
    <%= f.text_field :purchase_location, class:  'form-control', placeholder: "Enter purchase location" %>
  </div>
  <div class="form-group">
    <%= f.label :ticket_sold_from %><br>
    <%= f.date_select :sold_from, order: [:day,:month,:year], use_short_month: true %>
  </div>
  <%= f.hidden_field :club_id %>
  <div>
    <%= f.label :banner_image %>
    <%= f.file_field :banner_image %>
    <%= f.hidden_field :banner_image_cache %>
  </div>
  <br>
  <div>
    <%= f.label :other_image_1 %>
    <%= f.file_field :other_image_1 %>
    <%= f.hidden_field :other_image_1_cache %>

    <%= f.label :other_image_2 %>
    <%= f.file_field :other_image_2 %>
    <%= f.hidden_field :other_image_2_cache %>
  <div>
    <%= f.label :other_image_3 %>
    <%= f.file_field :other_image_3 %>
    <%= f.hidden_field :other_image_3_cache %>
  </div>
  <p class="help-block">Three other images will be shown in a slide </p>
  <br>
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-default" %>
  </div>
  </div>
<% end %>
