<h1>Browse events</h1>

<p>
  <form action="">
    <select id="club" name="club" onchange="this.form.submit()" class="form-control">
      <option value="">Browse by Club</option>
      <% memberships = Membership.where(user_id: current_user.id) %>
      <% clubs = [] %>
      <% memberships.each do |ms| %>
        <% clubs << Club.find_by(id: ms.club_id) %>
      <% end %>
      <% clubs.each do |club| %>
        <option value=<%= club.id %>><%= club.name %></option>
      <% end %>
    </select>
  </form>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><%= link_to "Show All", url_for(), class: "btn btn-default" %></div>
  <table class="table">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Host</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th>Description</th>
        <th>Available Tickets</th>
      </tr>
    </thead>
      <% if params["club"] %>
        <% clubs_events = Event.where(club_id: params["club"]) %>
      <% else %>
        <% clubs_events = Event.all %>
      <% end %>
      <% clubs_events = clubs_events.order(:event_datetime) %>
      <% clubs_events.each do |event| %>
        <tr>
          <td>
            <strong>
              <%= link_to event.title, event %></strong>
          </td>
          <td>
             <strong><%= link_to Club.find_by(id: event.club_id).name, Club.find_by(id: event.club_id) %>
            </strong>
          </td>
          <td><%= event.event_datetime.strftime("%b %-d at %l:%M%P") %></td>
          <td><%= event.location %></td>
          <td><%= event.description %></td>
          <td><%= event.current_tickets %> tickets still available!</td>
        </tr>
      <% end %>
  </table>
</div>

<br>
