<% if params[:club_id] %>

  <% cid = params[:club_id].to_i %>

  <!-- Link path -->
  <p>
    <ol class="breadcrumb">
      <li><%= link_to Club.find_by(id: cid).name, Club.find_by(id: cid) %></li>
      <li class="active">Events</li>
    </ol>
  </p>

  <h1>Events</h1>
<% if Membership.find_by(club_id: params["club_id"], user_id: current_user.id) %>
     <% if Membership.find_by(club_id: params["club_id"], user_id: current_user.id).is_admin == 1 %>
       <div class="panel-footer"><%= link_to '+ New Event', new_event_path(:club_id => params[:club_id]) %></div>
     <% end %>
    <% end %>

  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Time and Date</th>
          <th>Description</th>
          <th>Tickets Available</th>
        </tr>
      </thead>
        <% @events.reverse.each do |event| %>
          <% if event.club_id ==  cid %>
            <% if Membership.find_by(user_id: current_user.id, club_id: event.club_id) %>
              <tr>
                <td>
                  <strong>
                    <%= link_to Club.find_by(id: event.club_id).name, Club.find_by(id: event.club_id) %>: 
                    <%= link_to event.title, event %>
                  </strong>
                </td>
                <td><%= event.event_datetime.strftime("%b %-d at %l:%M%P") %> @ <%= event.location %></td>
                <td><%= event.description %></td>
                <td><%= event.current_tickets %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
    </table>
  </div>

<% else %>
  <h1>My Clubs' Events</h1>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Host</th>
          <th>Time and Date</th>
          <th>Location</th>
          <th>Description</th>
          <th>Tickets Available</th>
        </tr>
      </thead>
        <% @events.reverse.each do |event| %>
          <% if Membership.find_by(user_id: current_user.id, club_id: event.club_id) %>
            <tr>
              <td>
                <strong> 
                  <%= link_to event.title, event %>
                </strong>
              </td>
              <td>
                <strong>
                  <%= link_to Club.find_by(id: event.club_id).name, Club.find_by(id: event.club_id) %>
                </strong>
               </td>
              <td><%= event.event_datetime.strftime("%b %-d at %l:%M%P") %></td>
              <td><%= event.location %></td>
              <td><%= event.description %></td>
              <td><%= event.current_tickets %></td>
            </tr>
          <% end %>
        <% end %>
    </table>
  </div>

<% end %>

<br>
