<% quantity = params[:ticket_quantity].to_i %>
<% event_id = params[:event_id].to_i %>

<p>Reserving <%= quantity %> tickets. Are you sure?</p>
<%= link_to({controller: "events", action: 'reserve_ticket', :event_id => event_id, :quantity => quantity, method: :get}) do %>Continue<% end %>
<%= link_to 'Back', "/events/#{event_id}" %>
