<!-- Link path -->
<p>
  <ol class="breadcrumb">
    <li><%= link_to Club.find_by(id: @event.club_id).name, Club.find_by(id: @event.club_id) %></li>
    <li><%= link_to 'Events', events_path(:club_id => @event.club_id) %></li>
    <li class="active"><%= @event.title %></li>
  </ol>
</p>

<% if @event.event_datetime.strftime("%Y").to_i > DateTime.now.strftime("%Y").to_i ||
  @event.end_datetime.strftime("%Y").to_i > DateTime.now.strftime("%Y").to_i %>
  <% date_format = "%b %-d, %Y at %l:%M%P" %>
<% else %>
  <% date_format = "%b %-d at %l:%M%P" %>
<% end %>

<% if @event.banner_image.url.present? %>
  <div><%= image_tag "#{@event.banner_image.url}", class: 'banner' %></div>
<% end %>

<div class="event-title">
  <h1><%= @event.title %></h1>
</div>

<div class="event_like">
    <% if EventLike.find_by(user_id: current_user.id, event_id: @event.id) %>
      <%= link_to({controller: "events", action: 'unlike', :event_id => @event.id, method: :get}) do %>Unlike<% end %>
    <% else %>
      <%= link_to({controller: "events", action: 'like', :event_id => @event.id, method: :get}) do %>Like<% end %>
    <% end %>
    (<%= @event.likes %> likes)
</div>

<script>
$(function(){
  $('#eventCarousel').carousel({interval:5000});
});
</script>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="event-slideshow">
      <div id="eventCarousel" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#eventCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#eventCarousel" data-slide-to="1"></li>
          <li data-target="#eventCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% if @event.other_image_1.url.present? %>
            <div class="active item">
              <%= image_tag "#{@event.other_image_1.url}", class: 'slideshow' %>
            </div>
          <% else %>
            <div class="active item">
              <%= image_tag "no_photo.png", class: 'slideshow' %>
            </div>
          <% end %>
          <% if @event.other_image_2.url.present? %>
            <div class="item">
              <%= image_tag "#{@event.other_image_2.url}", class: 'slideshow' %>
            </div>
          <% else %>
            <div class="item">
              <%= image_tag "no_photo.png", class: 'slideshow' %>
            </div>
          <% end %>
          <% if @event.other_image_3.url.present? %>
            <div class="item">
              <%= image_tag "#{@event.other_image_3.url}", class: 'slideshow' %>
            </div>
          <% else %>
            <div class="item">
              <%= image_tag "no_photo.png", class: 'slideshow' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <p><strong>Hosted by: </strong><%= Club.find_by(id: @event.club_id).name %></p>
    <p>
    <hr><strong>When:</strong> <%= @event.event_datetime.strftime(date_format) %>
     - 
    <% if @event.end_datetime.to_date > @event.event_datetime.to_date %>
      <%= @event.end_datetime.strftime(date_format) %><hr>
    <% else %>
      <%= @event.end_datetime.strftime("%l:%M%P") %><hr>
    <% end %>
    </p>
    <p><strong>Where:</strong> <%= @event.location %><hr></p>
    <p><%= @event.description %><hr></p>
    <p><strong>Tickets: </strong>$<%= @event.ticket_price %> each</p>
    <% if @event.current_tickets == 0 %>
      <p>Unfortunately, there are no more tickets available :(</p>
    <% elsif Ticket.exists?(event_id: @event.id, user_id: current_user.id) &&
    Ticket.where(event_id: @event.id, user_id: current_user.id).count == 4 %>
      <p>You already have reserved the maximum number of tickets (4).</p>
    <% else %>
      <p>
        <form action="reserve_tickets" method="get">
          <select id="ticket_quantity" name="ticket_quantity">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <input type="hidden" name="event_id" value="<%= "#{@event.id}" %>" />
          <input type="submit" value="Reserve Tickets"/>
        </form>
      </p>
      <p>
        (<%= @event.current_tickets %> out of <%= @event.tickets_total %> available, Max 4 per person)
      </p>
    <% end %> 
    <p>
      <strong>Sold at: </strong><%= @event.purchase_location %> 
      <strong>from</strong> <%= @event.sold_from.strftime("%b %-d") %><hr>
    </p>
    <% if Membership.find_by(user_id: current_user.id, club_id: @event.club_id).is_admin == 1 %>
      <p><%= link_to 'Reserved Tickets', tickets_path(:event_id => @event.id) %></p>
    <% end %>
    <p><%= link_to 'Discussion Forum', discussion_forum_path(:id => @event.discussion_forum_id, :club_id => @event.club_id) %></p>
    <% if Membership.find_by(user_id: current_user.id, club_id: @event.club_id).is_admin == 1 %>
      <p>
        <%= link_to 'Edit', edit_event_path(@event) %> | 
        <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
</div>
