<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title, class: "form-control" %></td>
  </div>

  <div class="form-group">
    <th><%= f.label :content %></th>
    <td><%= f.text_area :content, class: "form-control" %></td>
  </div>

    <%= f.hidden_field :club_id %>

  <div class="actions">
    <%= f.submit 'Create Announcement', class: "btn btn-default" %>
  </div>
<% end %>
