<% cid = params[:club_id].to_i %>

<!-- Link path -->
<p>
  <ol class="breadcrumb">
    <li><%= link_to Club.find_by(id: cid).name, Club.find_by(id: cid) %></li>
    <li class="active">Announcements</li>
  </ol>
</p>

<h1>Announcements</h1>

<% if Membership.find_by(user_id: current_user.id, club_id: cid) %>
  <% if Membership.find_by(user_id: current_user.id, club_id: cid).is_admin == 1 %>
<% @announcement.club_id = cid %>
<%= render 'form' %>
<% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"></div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>by</th>
        <th>Time</th>
        <th>Club</th>
        <% if Membership.find_by(user_id: current_user.id, club_id: cid) %>
          <% if Membership.find_by(user_id: current_user.id, club_id: cid).is_admin == 1 %>
            <th>Administrate</th>
          <% end %>
        <% end %>

      </tr>
    </thead>
      <% @announcements.reverse.each do |announcement| %>
        <% if announcement.club_id ==  cid && announcement.created_by != Webapp.first.university_admin %>
          <tr>
            <td><%= announcement.title %></td>
            <td><%= announcement.content %></td>
            <td><%= User.find_by(id: announcement.created_by).full_name %></td>
            <td><%= announcement.created_at %></td>
            <td><strong><%= Club.find_by(id: announcement.club_id).name %></strong></td>
            <% if Membership.find_by(user_id: current_user.id, club_id: cid) %>
              <% if Membership.find_by(user_id: current_user.id, club_id: cid).is_admin == 1 %>
                <td><%= link_to 'Edit', edit_announcement_path(announcement), class: "btn btn-default btn-xs"%>
                <% if announcement.created_by == current_user.id %>
                  <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
                <% end %>
                </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td>Posted on <%= announcement.created_at.strftime("%b %-d, %Y at %l:%M%P") %> by <%= User.find_by(id: announcement.created_by).full_name %></td>
        </tr>
        <tr>
          <td><%= announcement.content %></td>
        </tr>
      <% end %>
  </table>
</div>

<br>