<h1>Announcements</h1>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>by</th>
        <th>Time</th>
        <th>Club</th>
      </tr>
    </thead>
    <% @sorted.each do |announcement| %>
      <% if announcement.created_by == Webapp.first.university_admin %>
        <tr>
          <td><%= announcement.title %></td>
          <td><%= announcement.content %></td>
          <td>Societies Administrator</td>
          <td><%= announcement.created_at.strftime("%b %-d, %Y at %l:%M%P") %></td>
          <td>UniAdmin</td>
        </tr>
      <% else %>
        <tr>
          <td><%= announcement.title %></td>
          <td><%= announcement.content %></td>
          <td><%= User.find_by(id: announcement.created_by).full_name %></td>
          <td><%= announcement.created_at.strftime("%b %-d, %Y at %l:%M%P") %></td>
          <td><strong><%= Club.find_by(id: announcement.club_id).name %></strong></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

