<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @announcement.content %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @announcement.created_by %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
