<h1>System Announcements</h1>

<% if Club.exists? %>

<% @announcement.club_id = Club.first.id %>
<%= render 'form' %>

<% else %>
  <p>There are no clubs.</p>
<% end %>


<table>
    <% @announcements.reverse.each do |announcement| %>
      <tr>
        <td><hr><strong>Sent to <%= Club.find_by(id: announcement.club_id).name %>: <%= announcement.title %></strong> </td>
         <td><%= link_to 'Edit', edit_announcement_path(announcement) %>
        <% if announcement.created_by == current_user.id %>
        <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
      <tr>
        <td>Posted on <%= announcement.created_at %></td>
      </tr>
      <tr>
        <td><%= announcement.content %></td>
      </tr>
    <% end %>
</table>