<% count = 0 %>
<% @network = Network.find_by(id: params[:id]) %>
<h1>Invite Clubs to <%= @network.name %></h1>
<br>
<div class="panel panel-default">
    <table class="table">
      <% @clubs.each do |club| %>
        <% if club.id !=  @network.created_by %>
          <% if ClubNetwork.find_by(club_id: club.id, network_id: @network.id) %>
            <% if ClubNetwork.find_by(club_id: club.id, network_id: @network.id).accepted == 0 %>
              <tr>
                <td>
                  <strong><%= link_to club.name, club %></strong><br>
                  <%= club.description %>
                </td>
                <td align="center">
                    <%= link_to({controller: "clubs", action: 'uninvite', :club_id => club.id, :network_id => @network.id, method: :get}, {class: "btn btn-default"}) do %>Uninvite<% end %>
                </td>
              </tr>
              <% count += 1 %>
            <% end %>
          <% else %>
              <tr>
                <td>
                  <strong><%= link_to club.name, club %></strong><br>
                  <%= club.description %>
                </td>
              <td align="center">
                  <%= link_to({controller: "clubs", action: 'invite', :club_id => club.id, :network_id => @network.id, method: :get}, {class: "btn btn-default"}) do %>Invite<% end %>
              </td>
            </tr>
            <% count += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>

<% if count == 0 %>
  <p>There are no clubs to invite.</p>
<% end %>
<br>

<%= link_to "Cancel", network_path(id: @network.id, club_id: @network.created_by), class: "btn btn-default" %>