<h1>New network</h1>

<% @network.created_by = params[:club_id] %>

<%= render 'form' %>

<%= link_to 'Cancel', club_admin_url(:id => params[:club_id], :tab => "network"), class: "btn btn-default" %>
