<% count = 0 %>

<h1>Add events to <%= @network.name %></h1>

<div class="panel panel-default">
  <table class="table">
    <% @events.each do |event| %>
      <% if Membership.find_by(user_id: current_user.id, club_id: event.club_id) %>
        <% if Membership.find_by(user_id: current_user.id, club_id: event.club_id).is_admin == 1 %>
          <tr>
            <td>
              <strong><%= event.event_datetime.strftime("%b %-d") %>, <%= link_to event.title, event %></strong><br>
              <%= event.event_datetime.strftime("%l:%M%P") %> @ <%= event.location %><br>
              <%= event.description %><br>
              <%= event.current_tickets %> tickets still available!<br>
            </td>
            <td>
              <%= link_to({controller: "events", action: 'share', :event_id => event.id, :network_id => @network.id, method: :get}, class: "btn btn-default") do %>Share<% end %>
            </td>
          </tr>
          <% count += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>

<% if count == 0 %>
  <p>There are no events to share.</p>
<% end %>
<br>

<%= link_to "Cancel", network_path(:id => @network.id, :club_id => @club.id), class: "btn btn-default" %>