<% cid = params[:club_id].to_i %>

<!-- Link path -->
<p>
	<ol class="breadcrumb">
		<li><%= link_to Club.find_by(id: cid).name, Club.find_by(id: cid) %></li>
	  	<li><%= link_to 'Administration', club_admin_url(:id => cid) %></li>
	  	<li><%= link_to 'Networks', club_admin_url(:id => cid, :tab => "network") %></li>	
	  	<% if params[:tab] %>
	  	<li><%= link_to @network.name, network_url(:id => @network.id, :club_id => cid) %></li>	
	  		<li class="active">
	  		<% if params[:tab] == "members" %>
				Members
			<% elsif params[:tab] == "discussion" %>
				Discussion Forum
			<% end %>
			</li>
		<% else %>
			<li class="active"><%= @network.name %></li>
	  	<% end %>
	</ol>
</p>

<h1><%= @network.name %></h1>
<% if @network.created_by == cid &&
	Membership.find_by(user_id: current_user.id, club_id: @network.created_by) &&
	Membership.find_by(user_id: current_user.id, club_id: @network.created_by).is_admin == 1 %>
	<%= link_to 'Edit', edit_network_path(@network, :club_id => cid) %> | 
	<%= link_to 'Delete', @network, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<ul class="nav nav-tabs nav-justified">
  <li <% if not params[:tab] %> class="active" <% end %>>
	<%= link_to 'Events', network_url(:id => @network.id, :club_id => cid) %>
  </li>
  <li <% if params[:tab] == "members" %> class="active" <% end %>>
	<%= link_to 'Members', network_path(:id => @network.id, :tab => "members", :club_id => cid) %> 
  </li>
  <li <% if params[:tab] == "discussion" %> class="active" <% end %>>
   	<%= link_to 'Discussion Forum', network_path(:id => @network.id, :tab => "discussion", :club_id => cid) %>
  </li>
</ul>

<% if params[:tab] %>
	<% if params[:tab] == "members" %>
		<div class="panel panel-default">
        	<div class="panel-heading"><h3>Clubs in the network</h3></div>
			<table class="table">
				<% @club_networks.each do |cn| %>
					<% if cn.accepted == 1 %>
						<% club = Club.find_by(id: cn.club_id) %>
						<tr>
							<td><%= link_to club.name, club %></td> 
							<td>Joined on <%= cn.created_at.strftime("%b %-d, %Y") %></td>
							<% if Membership.find_by(user_id: current_user.id, club_id: @network.created_by) &&
								Membership.find_by(user_id: current_user.id, club_id: @network.created_by).is_admin == 1 %>
								<% if @network.created_by != club.id %>
									<td>
										<%= link_to({controller: "clubs", action: 'uninvite', :club_id => club.id, :network_id => @network.id, method: :get}, {class: "btn btn-default btn-xs"}, data: {confirm: 'Are you sure?'}) do %>Remove<% end %>
									</td>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				<% end %>
			</table>
			<div class="panel-footer"><%= link_to 'Invite Clubs', invite_url(:id => @network.id) %></div>
		</div>
	<% elsif params[:tab] == "discussion" %>
		<div class="panel panel-default">
        	<div class="panel-heading"><h2>Topics</h2></div>
			<table class="table">
			    <thead>
				    <tr>
				        <th>Title</th>
				        <th>Date</th>
				        <th>Created by</th>
				        <th>Views</th>  
				    </tr>
			    </thead>

			    <tbody>
			    <% @topics.each do |topic| %>
			      	<% if topic.discussion_forum_id == @network.discussion_forum_id %>
				        <tr>
					        <td><%= link_to topic.title, topic_path(:id => topic.id, :club_id => cid) %></td>
					        <td><%= topic.updated_at.strftime("%b %-d, %Y") %></td>
					        <td><%= link_to User.find_by(id: topic.created_by).full_name, show_user_url(:user_id => topic.created_by) %></td>
					        <td><%= topic.views %></td>
			            <% if Subscription.find_by(user_id: current_user.id, topic_id: topic.id) %>
			          	    <td><%= link_to({controller: "topics", action: 'unsubscribe', :topic_id => topic.id, method: :get}) do %>Following<% end %></td>
			        	<% else %>
			            	<td><%= link_to({controller: "topics", action: 'subscribe', :topic_id => topic.id, method: :get}) do %>Follow<% end %></td>
			            <% end %>
			            <% if Club.find_by(id: @network.created_by).is_current_admin(current_user.id) %>
		                	<td><%= link_to 'Edit', edit_topic_path(topic), class: "btn btn-default btn-xs" %>
		                    <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
		                	</td>
			            <% end %>          
				        </tr>
			    	<% end %>
			    <% end %>
			    </tbody>
			</table>
			<div class="panel-footer"><%= link_to 'New Topic', new_topic_path(:discussion_forum_id => @network.discussion_forum_id) %></div>
		</div>
	<% end %>
<% else %>
	<div class="panel panel-default">
	<div class="panel-heading"><h2>Events shared with the network</h2></div>
		<% if @shared_events %>
			<table class="table">
			    <% @shared_events.each do |se| %>
				  	<% event = Event.find_by(id: se.event_id) %>
			        <tr>
			            <td>
			              <strong><%= event.event_datetime.strftime("%b %-d") %>, <%= link_to event.title, event %></strong><br>	
			              <%= event.event_datetime.strftime("%l:%M%P") %> @ <%= event.location %><br>
			              <%= event.description %><br>
			              <%= event.current_tickets %> tickets still available!<br>
			            </td>
			            <% if Membership.find_by(user_id: current_user.id, club_id: event.club_id) %>
			        		<% if Membership.find_by(user_id: current_user.id, club_id: event.club_id).is_admin == 1 %>
			            		<td>
			        	    		<%= link_to({controller: "events", action: 'unshare', :event_id => event.id, :network_id => @network.id, method: :get}, {class: "btn btn-default"}) do %>Remove<% end %>
			            		</td>
			            	<% end %>
			            <% end %>
				<% end %>
			</table>
		<% else %>
			There are no events shared with this network.
		<% end %>
		<div class="panel-footer"><%= link_to 'Add Events', share_event_url(:id => @network.id, :club_id => cid) %></div>
	</div>
		
<% end %>