<%= form_for(@webapp) do |f| %>
  <% if @webapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webapp.errors.count, "error") %> prohibited this webapp from being saved:</h2>

      <ul>
      <% @webapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
