<h1>About Us</h1>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="about-us-table">
			<p>Andy Chen</p>
			<p><%= image_tag "anchen.jpg", class: 'about-us-image' %></p>
			<p>A description here</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="about-us-table">
			<p>Johan Albert</p>
			<p><%= image_tag "albertj.jpg", class: 'about-us-image' %></p>
			<p>A description here</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="about-us-table">
			<p>Sande Harsa</p>
			<p><%= image_tag "sharsa.jpg", class: 'about-us-image' %></p>
			<p>A description here</p>
		</div>
	</div>
</div>