<h1><%= image_tag "clubs-socs-logo.png", class: 'logo' %></h1>

<script>
$(function(){
  $('#homeCarousel').carousel({interval:7500});
});
</script>

<div class="slideshow-trial">
    <div id="homeCarousel" class="carousel slide" data-interval="true" interval=5000>
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag "footy_club.jpg", class: 'slideshow' %>
          <div class="carousel-caption">
            <h1>Footy Club</h1>
            <p>Footy is the most popular sport in Australia.<p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "swimming-club.jpg", class: 'slideshow' %>
          <div class="carousel-caption">
            <div class="caption">
              <h1>Swimming Club</h1>
              <p>Swimming makes you healthy.<p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "Clubs-and-Societies-Expo-Photo.jpg", class: 'slideshow' %>
          <div class="carousel-caption">
            <h1>Expo Event</h1>
            <p>Annual Expo for Clubs and Societies.<p>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
