<h1>Search Result</h1>

<% search_term = params[:search_term] %>

<% search_terms = search_term.split(' ') %>

<% clubs = Club.all %>
<% events = Event.all%>

<% search_terms.each do |st| %>
	<%= "Searching for: " + st %><br>
	<% search_result_club = [] %>
	<% clubs.each do |club| %>
		<% if club.name.downcase.include? st.downcase %>
			<% search_result_club << club %>
		<% end %>
	<% end %>
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Clubs</h3></div>
  		<table class="table">
	    <thead>
	      <tr>
	        <th>Club Name</th>
	        <th>Category</th>
	        <th>Description</th>
	        <th>Registration Date</th>
	      </tr>
	    </thead>
		<% search_result_club = search_result_club.sort_by &:name %>
	    <% search_result_club.each do |club| %>
	      <tr>
	        <td>
	          <strong><%= link_to club.name, club %></strong>
	        </td>
	        <td>
	          <%= club.category %>
	        </td>
	        <td><%= club.description %></td>
	        <td>
	        	<%= club.created_at.strftime("%b %-d, %Y") %>
	        </td>
	      </tr>
	    <% end %>
	    </table>
	</div>

	<% search_result_event = [] %>
	<% events.each do |event| %>
		<% if event.title.downcase.include? st.downcase %>
			<% search_result_event << event %>
		<% end %>
	<% end %>
	<div class="panel panel-default">
	  <div class="panel-heading"><h3>Events</h3></div>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Event Name</th>
	        <th>Host</th>
	        <th>Date and Time</th>
	        <th>Location</th>
	        <th>Description</th>
	        <th>Available Tickets</th>
	      </tr>
	    </thead>
			<% search_result_event = search_result_event.sort_by &:event_datetime %>
	    	<% search_result_event.each do |event| %>
	        <tr>
	          <td>
	            <strong>
	              <%= link_to event.title, event %></strong>
	          </td>
	          <td>
	             <strong><%= link_to Club.find_by(id: event.club_id).name, Club.find_by(id: event.club_id) %>
	            </strong>
	          </td>
	          <td><%= event.event_datetime.strftime("%b %-d at %l:%M%P") %></td>
	          <td><%= event.location %></td>
	          <td><%= event.description %></td>
	          <td><%= event.current_tickets %> tickets still available!</td>
	        </tr>
	      <% end %>
	  </table>
	</div>
<% end %>
