<!DOCTYPE html>	
<html>	
<head>	
 <title>ClubBiz</title>	
 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>	
 <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
 <%= csrf_meta_tags %>
</head>	
<body>	
	 <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">	
	 	<div class="container">
		 	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
		 		<span class="sr-only">Toggle navigation</span>
		 		<span class="icon-bar"></span>
		 		<span class="icon-bar"></span>
		 		<span class="icon-bar"></span>
		 	</button>

			 <%= link_to "Club Biz", webapps_path, class: 'navbar-brand' %>	
			 <div class="collapse navbar-collapse" id="navbar-links">
			 	<% if user_signed_in? %>
			 		<form action="/webapps/search" class="navbar-form navbar-left" role="search">
		        		<div class="form-group">
		          			<input id="search" type="text" class="form-control"
		          			placeholder="Search for clubs and events" name="search_term">
		        		</div>
		        		<button type="submit" class="btn btn-default">Search</button>
		      		</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to("/notifications") do %>
								<% unreadnotif = NotificationObject.where(user_id: current_user.id, read_status: 0).count %>
								<span class="glyphicon glyphicon-globe notification-menu-item" id="notif"  onclick="myFunction()">
								<div class="badge"><%= unreadnotif %></div></span>
							<% end %>
						</li>
						<li class="dropdown">
			 				<a class="dropdown-toggle" data-toggle="dropdown">
			 				<%= "Hello, " + current_user.first_name %> 
			 				<b class="caret"></b></a>
		 					<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
		 						<li><%= link_to "News Feed", "/newsfeed" %></li>
		 						<% if current_user.id == Webapp.first.university_admin %>
		 						<li><%= link_to "System Announcements", sys_ann_url %></li>
		 						<% end %>
		 						<li class="divider"></li>
		 						<li id="club-submenu" class="dropdown-submenu">
		 						<a href="/clubs">My Clubs</a>
			 					<ul class="dropdown-menu">
		 							<li class="dropdown-header">Admin</li>
		 							<% admin_ms = Membership.where(is_admin: 1, user_id: current_user.id) %>
		 							<% admin_clubs = [] %>
		 							<% counter = 0 %>
		 							<% admin_ms.each do |ms| %>
		 								<% admin_clubs << Club.find_by(id: ms.club_id) %>
		 							<% end %>
		 							<% admin_clubs.each do |club| %>
		 								<% if counter >= 3 %>
		 									<li><%= link_to "More...", "/clubs" %></li>
		 									<% break %>
		 								<% else %>
		 									<li><%= link_to club.name, "/clubs/#{club.id}" %></li>
		 									<% counter = counter + 1 %>
		 								<% end %>
		 							<% end %>
			 						<li class="dropdown-header"><%= "Member" %></li>
			 						<% member_ms = Membership.where(is_admin: 0, user_id: current_user.id) %>
		 							<% member_clubs = [] %>
		 							<% counter = 0 %>
		 							<% member_ms.each do |ms| %>
		 								<% member_clubs << Club.find_by(id: ms.club_id) %>
		 							<% end %>
		 							<% member_clubs.each do |club| %>
		 								<% if counter >= 3 %>
		 									<li><%= link_to "More...", "/clubs" %></li>
		 									<% break %>
		 								<% else %>
		 									<li><%= link_to club.name, "/clubs/#{club.id}" %></li>
		 									<% counter = counter + 1 %>
	 									<% end %>
		 							<% end %>
			 						<li class="divider"></li>
			 						<li><%= link_to "Register a Club", "/clubs/new" %></li>
			 					</ul>
			 					</li>
			 					<li class="dropdown-submenu">
		 						<a href="/events">My Events</a>
			 					<ul class="dropdown-menu">
		 							<li class="dropdown-header"><%= "Club Events" %></li>
			 						<% memberships = Membership.where(user_id: current_user.id) %>
			 						<% events = [] %>
			 						<% counter = 0 %>
			 						<% memberships.each do |ms| %>
			 							<% a_club_event = Event.where(club_id: ms.club_id) %>
			 							<% a_club_event.each do |event| %>
			 								<% events << event %>
		 								<% end %>
	 								<% end %>
	 								<% events.each do |event| %>
	 									<% if counter >= 3 %>
		 									<li><%= link_to "More...", "/clubs" %></li>
		 									<% break %>
		 								<% else %>
	 										<li><%= link_to event.title, "/events/#{event.id}" %></li>
	 										<% counter = counter + 1 %>
	 									<% end %>
									<% end %>
			 					</ul>
			 					</li>
			 					<li><%= link_to 'My Tickets', tickets_path %></li>
			 					<li class="divider"></li>
		 						<li><%= link_to "My Details", show_user_url(:user_id => current_user.id) %></li>
		 						<li><%= link_to "Edit Details", edit_user_registration_path %></li>
		 						<li class="divider"></li>
		 						<li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
	 						</ul>
			 			</li> 
					</ul>
					<ul class="nav navbar-nav navbar-left">
			 			<li class="dropdown">
			 				<%= link_to "Clubs", "/browse/clubs" %>
			 			</li>
			 			<li class="dropdown">
			 				<%= link_to "Events", "/browse/events" %>
			 			</li>
			 		</ul>
				<% else %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Log in", new_user_session_path %></li>
					 	<li><%= link_to "Register", new_user_registration_path %></li>	
				 	</ul>
				<% end %>
			</div>
		 </div>	
	 </div>	
	 <div class="container">
	 	 <br>
	 	 <br>
	 	 <br>
	 	 <%= yield %>
	 	 <p class="notice"><%= notice %></p>
		 <p class="alert"><%= alert %></p>
	 </div>
	 <hr class="footer">
 	<div id="footer">
 		<%= link_to "About Us", "/webapps/about_us" %>
 	</div>
</body>	
</html>	
