<% if params[:event_id] %>
  <% @event = Event.find_by(id: params[:event_id]) %>

  <!-- Link path -->
  <p>
    <ol class="breadcrumb">
      <li><%= link_to Club.find_by(id: @event.club_id).name, Club.find_by(id: @event.club_id) %></li>
      <li><%= link_to 'Events', events_path(:club_id => @event.club_id) %></li>
      <li><%= link_to @event.title, @event %></li>
      <li class="active"> Reserved Tickets </li>
    </ol>
  </p>

  <h1>Tickets for <strong><%= @event.title %></strong></h1>
  <h3>Hosted by: <strong><%= Club.find_by(id: @event.club_id).name %></strong></h3>

  <% if @event.event_datetime.strftime("%Y").to_i > DateTime.now.strftime("%Y").to_i ||
    @event.end_datetime.strftime("%Y").to_i > DateTime.now.strftime("%Y").to_i %>
    <% date_format = "%b %-d, %Y at %l:%M%P" %>
  <% else %>
    <% date_format = "%b %-d at %l:%M%P" %>
  <% end %>
  <div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Ticket ID</th>
      <th>Student</th>
      <th>Paid for?</th>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= User.find_by(id: ticket.user_id).full_name %></td>        
        <td>
          <% if ticket.paid == 0 %>
            no
          <% else %>
            yes
          <% end %>
        </td>
        <% if Membership.find_by(user_id: current_user.id, club_id: @event.club_id).is_admin == 1 %>
          <td>
             | <%= link_to 'Edit', edit_ticket_path(ticket) %>
            <%= link_to 'Delete', delete_ticket_url(:id => ticket.id, :event_id => @event.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
  <br>

<% else %>
  <h1>My Reserved Tickets</h1>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Ticket Details</th>
          <!-- <th>Title</th>
          <th>Host</th>
          <th>Description</th>
          <th>Time</th>
          <th>Location</th>
          <th>Paid?</th> -->

        </tr>
      </thead>
      <% @events = Array.new %>
      <% Ticket.where(user_id: current_user.id).each do |t| %>
        <% Event.where(id: t.event_id).each do |e| %>
          <% if !@events.include?(e) %>
            <% @events << e %>
          <% end %>
        <% end %>
      <% end %>
      <% sorted = @events.sort_by &:event_datetime %>

      <% sorted.each do |e| %>
        <% Ticket.where(event_id: e.id).each do |ticket| %>
          <% if ticket.user_id == current_user.id %>
            <% @event = Event.find_by(id: ticket.event_id) %>

            <% if @event.event_datetime.strftime("%Y").to_i > DateTime.now.strftime("%Y").to_i ||
              @event.end_datetime.strftime("%Y").to_i > DateTime.now.strftime("%Y").to_i %>
              <% date_format = "%b %-d, %Y" %>
            <% else %>
              <% date_format = "%b %-d" %>
            <% end %>
            <tr>
              <td>
                <strong><%= @event.event_datetime.strftime(date_format) %>, <%= link_to @event.title, @event %><br>
                Hosted by <%= link_to Club.find_by(id: @event.club_id).name, Club.find_by(id: @event.club_id) %></strong><br> 
                <%= @event.description %><br> At 
                <%= @event.event_datetime.strftime("%l:%M%P") %> @ <%= @event.location %><br> Paid?
                <% if ticket.paid == 0 %>
                  No
                <% else %>
                  Yes
                <% end %>
              
                | <%= link_to 'Remove', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>



