<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Club_name, class: 'required' %><br>
    <%= f.text_field :name, class:  'form-control', placeholder: "Enter club name" %>
  </div>
  <div class="form-group">
    <%= f.label :Club_registration_number, class: 'required' %><br>
    <%= f.text_field :registration_number, class:  'form-control', placeholder: "Enter registration number" %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website,  class:  'form-control', placeholder: "Enter website"  %>
  </div>
  <div class="form-group">
    <%= f.label :club_email %><br>
    <%= f.email_field :club_email, class:  'form-control', placeholder: "Enter email" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:  'form-control', placeholder: "Write description here"  %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select(:category, options_for_select(['Community Service', 
      'Course Related', 'Cultural', 'Music', 'Political/Activist', 'Special Interest', 'Spiritual']), {}, {:class => "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :banner_image %>
    <%= f.file_field :banner_image %>
    <%= f.hidden_field :banner_image_cache %>
  </div>
  <div class="actions ">
    <%= f.submit 'Submit' , :class => 'btn btn-default' %>
  </div>
<% end %>
