<!-- Link path -->
<p>
  <ol class="breadcrumb">
    <li><%= link_to @club.name, @club %></li>
    <% if params[:tab] %>
      <li><%= link_to 'Administration', club_admin_url(:id => @club.id) %></li>
      <li class="active">
      <% if params[:tab] == "sysann" %>
        System Announcements
      <% elsif params[:tab] == "network" %>
        Networks
      <% elsif params[:tab] == "netreq" %>
        Network Requests
      <% end %>
      </li>
    <% else %>
      <li class="active">Administration</li>
    <% end %>
  </ol>
</p>

<h1>Administration</h1>

<ul class="nav nav-tabs nav-justified">
  <li <% if not params[:tab] %> class="active" <% end %>>
    <%= link_to 'Members', club_admin_url(:id => @club.id) %>
  </li>
  <li <% if params[:tab] == "network" %> class="active" <% end %>>
    <%= link_to 'Networks', club_admin_url(:id => @club.id, :tab => "network") %>
  </li>
  <% if @is_admin %>
    <li <% if params[:tab] == "netreq" %> class="active" <% end %>>
      <%= link_to 'Network requests', club_admin_url(:id => @club.id, :tab => "netreq") %>
    </li>
    <li <% if params[:tab] == "sysann"%> class="active" <% end %>>
      <%= link_to 'System Announcements', club_admin_url(:id => @club.id, :tab => "sysann") %>
    </li>
  <% end %>
</ul>

<% if params[:tab] %>
  <% if params[:tab] == "sysann" %>
    <div class="system_announcements">
      <h2>System announcements</h2>
      <table>
        <% @announcements.reverse.each do |announcement| %>
          <% if announcement.club_id == @club.id %>
            <tr>
              <td><strong> <%= announcement.title %></strong> </td>
            </tr>
            <tr>
              <td>Posted on <%= announcement.created_at.strftime("%b %-d, %Y at %l:%M%P") %> by <%= User.find_by(id: announcement.created_by).full_name %></td>
            </tr>
            <tr>
              <td><%= announcement.content %><hr></td>
            </tr>
          <% end %>
        <% end %>
    </table>
    </div>
  <% elsif params[:tab] == "network" %>
    <div class="networks">
      <div class="panel panel-default">
        <div class="panel-heading"><h2>Networks</h2></div>
        <div class="panel-footer"><%= link_to '+ New Network', new_network_path(:club_id => @club.id) %></div>
        <table class="table">
          <% @club_networks.each do |cn| %>
            <% if cn.accepted ==  1 %>
              <% network = Network.find_by(id: cn.network_id) %>
              <tr>
                <td>
                  <strong><%= link_to network.name, network_url(:id => network.id, :club_id => @club.id) %></strong> by 
                  <%= link_to Club.find_by(id: network.created_by).name, Club.find_by(id: network.created_by) %><br>
                  Created on: <%= network.created_at.strftime("%b %-d, %Y") %>
                </td>
                <% if network.created_by == @club.id && @is_admin %>
                  <td>
                    <%= link_to 'Edit', edit_network_path(network), class: "btn btn-default" %>
                    <%= link_to 'Delete', network, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>
      
    </div>
  <% elsif params[:tab] == "netreq" %>
    <div class="network_requests">
      <div class="panel panel-default">
        <div class="panel-heading"><h2>Network Requests</h2></div>
          <table class="table">
            <% @club_networks.each do |cn| %>
              <% if cn.accepted ==  0 %>
                <% network = Network.find_by(id: cn.network_id) %>
                <tr>
                  <td>
                    <strong><%= link_to network.name, network %></strong> by 
                    <%= link_to Club.find_by(id: network.created_by).name, Club.find_by(id: network.created_by) %><br>
                    Created on: <%= network.created_at.strftime("%b %-d, %Y") %>
                  </td>
                  <td align="center">
                    <%= link_to({controller: "clubs", action: 'accept_invite', :club_id => @club.id, :network_id => network.id, method: :get}, {class: "btn btn-default"}) do %>Confirm<% end %>
                    <%= link_to({controller: "clubs", action: 'uninvite', :club_id => @club.id, :network_id => network.id, method: :get}, {class: "btn btn-default"}) do %>Decline<% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
    </div>
  <% end %>
<% else %>
  <div class="admins">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Administrators</h2></div>
      <table class="table">
          <% @memberships.each do |ms| %>
            <% if ms.is_admin ==  1 %>
              <tr>
                <td>
                  <strong><%= link_to User.find_by(id: ms.user_id).full_name, show_user_url(:user_id => ms.user_id) %></strong><br>
                  Joined on: <%= ms.created_at.strftime("%b %-d, %Y") %>
                </td>
                <% if @club.president_id == current_user.id %>
                  <td> 
                    <%= link_to({controller: "clubs", action: 'remove_admin', :ms_id => ms.id, method: :get}, {class: "btn btn-default", data: {confirm: 'Are you sure?'}}) do %>Remove<% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
      </table>
    </div>
  </div>


  <div class="members">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Members</h2></div>
    <table class="table">
        <% @memberships.each do |ms| %>
          <% if ms.is_admin ==  0 %>
            <tr>
              <td>
                <strong><%= link_to User.find_by(id: ms.user_id).full_name, show_user_url(:user_id => User.find_by(id: ms.user_id).id) %></strong><br>
                Joined on: <%= ms.created_at.strftime("%b %-d, %Y") %>
              </td>
              <% if @club.president_id == current_user.id %>
                  <% if @is_admin %>
                    <td align=center>
                      <%= link_to({controller: "clubs", action: 'add_admin', :ms_id => ms.id, method: :get}, {class: "btn btn-default"}, data: {confirm: 'Are you sure?'}) do %>Make Admin<% end %>
                      <%= link_to({controller: "clubs", action: 'remove_member', :ms_id => ms.id, method: :get}, {class: "btn btn-default"}, data: {confirm: 'Are you sure?'}) do %>Remove Member<% end %>
                    </td>
                  <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
    </table>
  </div>
<% end %>