<h1>Browse clubs</h1>

<p>
  <form action="">
    <select id="category" name="category" onchange="this.form.submit()" class="form-control">
      <option value="">Browse by Category</option>
      <option value="Community Service">Community Service</option>
      <option value="Course Related">Course Related</option>
      <option value="Cultural">Cultural</option>
      <option value="Music">Music</option>
      <option value="Political/Activist">Political/Activist</option>
      <option value="Special Interest">Special Interest</option>
      <option value="Spiritual">Spiritual</option>
    </select>
  </form>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><%= link_to "Show All", url_for(), class: "btn btn-default" %></div>
  <table class="table">
    <thead>
      <tr>
        <th>Club Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Registration Date</th>
      </tr>
    </thead>
    <% if params["category"] %>
      <% clubs_category = Club.where(category: params["category"]) %>
    <% else %>
      <% clubs_category = Club.all %>
    <% end %>
    <% clubs_category = clubs_category.order(:name) %>
    <% clubs_category.each do |club| %>
      <tr>
        <td>
          <strong><%= link_to club.name, club %></strong>
        </td>
        <td>
          <%= club.category %>
        </td>
        <td><%= club.description %></td>
        <td>
          <%= club.created_at.strftime("%b %-d, %Y") %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
<br>
