<h1>My Clubs</h1>

<div class="panel panel-default">
  <div class="panel-heading"><h3>As Admin</h3></div>
    <table class="table">
      <thead>
        <tr>
          <th>Club Name</th>
          <th>Description</th>
          <th>Joined Date</th>
          <th>Admin Page</th>
        </tr>
      </thead>
      <% @admin_clubs.each do |club| %>
        <tr>
          <td><strong><%= link_to club.name, club %></strong></td>
          <td><%= club.description %></td>
          <td>Joined on 
            <%= Membership.find_by(user_id: current_user.id, club_id: club.id).created_at.strftime("%b %-d, %Y at %l:%M%P") %>
          </td>
          <td><strong><%= link_to "Admin", "clubs/#{club.id}/admin" %></strong></td>
        </tr>
      <% end %>
    </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h3>As Member</h3></div>
  <table class="table">
    <tr>
      <th>Club Name</th>
      <th>Description</th>
      <th>Joined Date</th>
    </tr>
    <% @member_clubs.each do |club| %>
      <tr>
        <td><strong><%= link_to club.name, club %></strong></td>
        <td><%= club.description %></td>
        <td>
          Joined on 
          <%= Membership.find_by(user_id: current_user.id, club_id: club.id).created_at.strftime("%b %-d, %Y at %l:%M%P") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
