<% if @club.banner_image.url.present? %>
	<div><%= image_tag "#{@club.banner_image.url}", class: 'banner' %></div>
<% end %>

<p id="notice"><%= notice %></p>

<div class="club-header">
	<p>
  		<h1 class="club-title"><%= @club.name %></h1>(<%= @club.registration_number %>)
	</p>
	<% if Membership.find_by(club_id: @club.id, user_id: current_user.id) %>
        <% if Membership.find_by(club_id: @club.id, user_id: current_user.id).is_admin == 1 %>
			<%= link_to '(Edit)', edit_club_path(@club) %>
		<% end %>
	<% end %>
</div>

<div class="website">
	<p>
  		<%= @club.website %>
	</p>
</div>

<div class="description">
	<p>
	  	<%= @club.description %>
	</p>
</div>

<div class="like">
	<p>
		<% if ClubLike.find_by(user_id: current_user.id, club_id: @club.id) %>
			<%= link_to({controller: "clubs", action: 'unlike', :club_id => @club.id, method: :get}) do %>Unlike<% end %>
		<% else %>
			<%= link_to({controller: "clubs", action: 'like', :club_id => @club.id, method: :get}) do %>Like<% end %>
		<% end %>
		(<%= @club.likes %> likes) | 
		<%= link_to 'Contact Us!', @club %>
	</p>
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="club-menu">
			<p><%= link_to image_tag("announcement.jpg", class: "club-menu-image"),
			announcements_path(:club_id => @club.id) %></p>
			<p><%= link_to 'Announcements', announcements_path(:club_id => @club.id) %></p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="club-menu">
			<p><%= link_to image_tag("event.jpg", class: "club-menu-image"),
			events_path(:club_id => @club.id) %></p>
			<p><%= link_to 'Events', events_path(:club_id => @club.id) %></p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="club-menu">
			<p><%= link_to image_tag("administration.png", class: "club-menu-image"),
			club_admin_url(:id => @club.id) %></p>
			<p><%= link_to 'Administration', club_admin_url(:id => @club.id) %></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="club-menu">
			<p><%= link_to image_tag("discussion_forum.jpg", class: "club-menu-image"),
			discussion_forum_path(:id => @club.discussion_forum_id, :club_id => @club.id) %></p>
			<p><%= link_to 'Discussion Forum', discussion_forum_path(:id => @club.discussion_forum_id, :club_id => @club.id) %></p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="club-menu">
			<p><%= link_to image_tag("committee.jpg", class: "club-menu-image"),
			office_holder_positions_path(:club_id => @club.id) %></p>
			<p><%= link_to 'Committee', office_holder_positions_path(:club_id => @club.id) %></p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="club-menu">
			<p><%= link_to image_tag("join_us.png", class: "club-menu-image"),
			{controller: "clubs", action: 'add_member', :club_id => @club.id, :user_id => current_user.id, method: :get} %></p>
			<p><%= link_to({controller: "clubs", action: 'add_member', :club_id => @club.id, :user_id => current_user.id, method: :get}) do %>Join Now!<% end %></p>
		</div>
	</div>
</div>
