<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control', placeholder: 'Enter post content' %>
  </div>

  <%= f.hidden_field :topic_id %>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-default'%>
  </div>
<% end %>
