<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>By:</strong>
  <%= User.find_by(id: @post.user_id).first_name + " " + User.find_by(id: @post.user_id).last_name %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
